* text=auto eol=lf

*.bas text eol=crlf
*.cls text eol=crlf
*.vbs text eol=crlf

*.sh   text eol=lf
*.applescript text eol=lf

*.png  binary
*.jpg  binary
*.jpeg binary
*.pdf  binary
*.xlsb binary
*.xlsx binary
*.xlsm binary
*.ttf  binary
*.woff binary
*.woff2 binary
